Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
Flask-Limiter
Werkzeug
PyMySQL
cryptography
python-dotenv
qrcode
Pillow
reportlab
openpyxl
pdfplumber
midtransclient
email-validator
WTForms
Jinja2
itsdangerous
python-escpos
pyusb
